$font_primary: 'Raleway', sans-serif;
$font_secondary: 'Roboto', sans-serif;
$font_cursive: 'Bona Nova', serif;

$color_primary: #5e311e;
$color_secondary: #c39c63;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_light: #eceeef;
$color_coffee_light: #ebe7de;

$separator: 5rem;

$media_tel: 480px;
$media_tablet: 768px;
$media_desktop: 1024px;
$media_desktop_xl: 1440px;
